@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#top{
    position: sticky;
}
#title{
    order: 1;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-family:'Black Han Sans', cursive;
    font-size: 5rem;
}
#content{
    text-align: center;
}
#table_of_content{
    width: 13rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: auto;
    border: 1px solid black;
}
.list{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
